root {
    --primary-color: #3498db;
    --dark-bg: #2c3e50;
    --light-text: #ecf0f1;
    --gray-text: #64748b;
    --card-shadow: 0 8px 12px
-1px rgba(0,0,0,0,1);
--padding-base: 2rem;
}

 * {
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, Sans-seriff';
    line-height: normal;
    color: var(--dark-bg)
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: rgb(148, 7, 7);
    box-shadow: var(--card-shadow);
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-bg);
    font-weight: 500;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: pink;
    color: var(--light-text);
}

.logo {
    padding: 1rem;
    font-family:'Arial Narrow Bold';
    color: burlywood;
    font-weight: 400;
    font-size: larger;
}

.container {
    max-width: 100%;
    margin: 3rem auto;
    padding: 0 1rem;
}

.feature-grid {
    display: grid;
    /* Default: 3 columns for mobile*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.card {
    padding: var(--padding-base);
    background: none;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    border-top: 4px solid var(--primary-color);
}
.card img {
width: 200px;
height: 200px;
object-fit:cover;
border-radius: 10px;
}

.btn-cta {
    border-radius: 35px;
    padding: 2rem 1.5rem;
    background: var(--primary-color);
    color: #000;
    height: 50px;
    border-color: #dde5f5;
}
@media (min-width: 768px) {
    .features-grid {
        grid-template-columns: repeat(2, 2fr);
    }

    @media (min-width: 1024px) {
        .features-grid {
            grid-template-columns: repeat(3, 3fr);
        }
        .hero {
            padding: 6rem 1rem;
        }
    }
}
.footer {
    text-align: center;
    padding: 1rem;
    background: rgb(148, 7, 7);
    color: var(--light-text);
}
